@font-face{
	font-family: bel;
	src: url('../picture/widgets/bel.woff');
}
html{
	height: 100%;
	font-family: bel, san-serif;
}
body{
	font-family: bel, san-serif;
	height:100%;
	background-color: transparent;
	background: url('../picture/widgets/body.jpg');
	background-repeat-y: repeat;
	-webkit-background-size: 100%;
  	-moz-background-size: 100%;
  	-o-background-size: 100%;
  	background-size: 100%;
}
h1,h2,h3,h4,h5,h6{
	color: #222;
	font-family: bel, san-serif;
	margin: auto;
	text-align: center;
}
a{
	text-align: center;
    cursor: pointer;

}
label{
	text-decoration: none;
}
.searchdeck{
	height: 20%;
}
.heropick{
	height: 80%;
}
.heroimg{
	height:120px;
}
.navbar-form{
	text-align: center;
}
.row{
	width: 60%;
	margin: 0 auto;
}
.search{
	margin: 0 auto;
}
.container{
	height: 100%;
}
.jumbotron, .center {
	margin:auto;
	background-color: transparent;
}
.center{
	width:25%;
}
.label{
	cursor: hand;
}
.top{
	position: fixed;
	z-index: 9999;
	margin: auto;
	width:100%;
	text-align: center;
}
#herotitle{
	-webkit-text-stroke: 0.6px #fff;
	padding: 20px;
}
.cardsearch{
	margin: auto;
	padding-top: 20px;
	text-align: center;
}
.popover{
	max-width: 350px;
	max-height: 460px;
	width: auto;
}
.popover-inner {
    max-height: 300px;
    overflow-y: auto;
}
.thumbnail{
}
.classhead{
	text-align: center;
	margin-top: 20px;
}
.name{
	margin-top: 10px;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint{
	height:45px;
	width:400px;
	border-radius: 6px;
	font-size: 18px;
	text-indent: 0.85em;
	line-height: 1.33;
}
.tt-dropdown-menu {
  min-width: 400px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
}
.tt-suggestion:after{
	content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
#typeahead{
	width:400px;
}
.deckitem {
	color:white;
	background-image: url('../picture/widgets/deckcard.gif');
	background-repeat: no-repeat;
	width: 191px;
	height: 31.5px;
	background-size: 100%;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.manaitem{
	font-size: 1.4em;
	margin-left: 0.6em;
	line-height: 1.5;
	float:left;
	display: inline-block;
	-webkit-text-stroke: 1px black;
}
.nameitem{
	margin-left: 1em;
	margin-top:0.5em;
	font-size: 0.8em;
	float:left;
	line-height: 1.9;
	display: inline-block;
}
.nametitle{
	padding: 2em;
	font-size: 1.5em;
}
.analytics{
	background :white;
	font-size: 3em;
	text-align: center;
}