@font-face{
	font-family: bel;
	src: url('../picture/widgets/bel.woff');
}
html{
	height: 100%;
	font-family: bel, san-serif;
}
body{
	font-family: bel, san-serif;
	height:100%;
	background-color: transparent;
	background: url('../picture/widgets/body.jpg');
	background-repeat-y: repeat;
	-webkit-background-size: 100%;
  	-moz-background-size: 100%;
  	-o-background-size: 100%;
  	background-size: 100%;
}
h1,h2,h3,h4,h5,h6{
	color: #222;
	font-family: bel, san-serif;
	margin: auto;
	text-align: center;
}
a{
	text-align: center;
    cursor: pointer;

}
label{
	text-decoration: none;
}
.searchdeck{
	height: 20%;
}
.heropick{
	height: 80%;
}
.heroimg{
	height:120px;
}
.navbar-form{
	text-align: center;
}
.row{
	width: 60%;
	margin: 0 auto;
}
.search{
	margin: 0 auto;
}
.container{
	height: 100%;
}
.jumbotron, .center {
	margin:auto;
	background-color: transparent;
}
.center{
	width:25%;
}
.label{
	cursor: hand;
}
.top{
	position: absolute;
	z-index: 9999;
	margin: auto;
	width:100%;
	text-align: center;
}
#herotitle{
	-webkit-text-stroke: 0.6px #fff;
	padding: 20px;
}
.cardsearch{
	margin: auto;
	padding-top: 20px;
	text-align: center;
}
.popover{
	max-width: 350px;
	max-height: 460px;
	width: auto;
}
.popover-inner {
    max-height: 300px;
    overflow-y: auto;
}
.thumbnail{
}