<div class="input-group">
	<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary active">
			<input type="radio" name="options" id="option1" value="Mage"> Mage
		</label>
			<label class="btn btn-primary">
			<input type="radio" name="options" id="option2" value="Neutral"> Neutral
			</label>
	</div>
			<input class= "input-lg"type="text" placeholder="Search for name, type, rarities, mechanics...">
	<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary active">
			<input type="radio" name="options" id="option1" value="all"> All
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="0"> 0
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="1"> 1
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="2"> 2
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="3"> 3
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="4"> 4
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="5"> 5
		</label>
		<label class="btn btn-primary ">
			<input type="radio" name="options" id="option1" value="6"> 6
		</label>
			<label class="btn btn-primary">
			<input type="radio" name="options" id="option2" value=">7"> >7
			</label>
	</div>
</div>